[Desktop Entry]
Version=1.0
Type=Application
Name=BASIC-256
GenericName=Simple BASIC IDE
GenericName[ru]=Простое BASIC IDE
TryExec=basic256
Exec=basic256
Categories=Development;IDE;
Icon=/usr/share/pixmaps/basic256.xpm
Comment=Learn BASIC in an environment designed for young children
Comment[ca]=Apreneu BASIC en un entorn dissenyat per a nens
Comment[de]=Lerne BASIC in einer Programmierumgebung speziell für die ganz Kleinen
Comment[es]=Aprende BASIC en un entorno diseñado para niños
Comment[fr]=Apprend BASIC dans un environnement visé aux jeunes enfants
Comment[af]=Leer BASIC in 'n omgewing doelgemaak vir jong kinders
Comment[sq]=Mëso BASIC në një ambient të dizenjuar për fëmijë të vegjël
Comment[eu]=Ikasi BASIC umeentzako diseinatutako ingurunean
Comment[be]=Вывучэньне BASIC у асяродзьдзі, распрацаваным для малых дзяцей
Comment[ast]=Deprendi BASIC nun entornu diseñáu pa neños pequeños
Comment[bn]=অল্পবয়সী শিশুর জন্য পরিকল্পিত এনভায়রনমেন্টে BASIC শিখুন
Comment[bs]=Naučite BASIC u okruženju dizajniranom za djecu
Comment[bg]=Научете BASIC в среда проектирана за малки деца
Comment[ca@valencia]=Apreneu el BASIC en un entorn dissenyat per als més petits
Comment[pt_BR]=Aprenda BASIC em um ambiente feito para crianças
Comment[zh_HK]=在為您小孩子們設計的環境學習 BASIC
Comment[zh_TW]=在為您小孩子們設計的環境學習 BASIC
Comment[crh]=Küçük çocuklar için tasarlanmış bir ortamda BASIC öğrenin
Comment[zh_CN]=一个面向儿童的 BASIC 语言学习环境
Comment[hr]=Naučite BASIC u sučelju namijenjenom djeci
Comment[eo]=Lernu BASIC en ĉirkaŭaĵo kreita por junaj geknaboj
Comment[nl]=Leer BASIC in een speciaal voor jonge kinderen ontworpen omgeving
Comment[da]=Lær BASIC i et miljø målrettet til små børn
Comment[cs]=Učení se BASICu v prostředí určeném pro děti
Comment[et]=BASIC programmeerimiskeele õppimine, noortele lastele kujundatud keskkonnas
Comment[fi]=Opi BASIC-ohjelmointikieli nuorille lapsille suunnitellussa ympäristössä
Comment[fr_CA]=Apprendre le BASIC dans un environnement conçu pour les jeunes enfants
Comment[el]=Μάθετε BASIC σε ένα περιβάλλον σχεδιασμένο για μικρά παιδιά
Comment[gl]=Aprenda BASIC nun entorno deseñado para nenos
Comment[he]=לימוד BASIC בסביבה המתוכננת לילדים צעירים
Comment[hi]=बेसिस सिखें एक ऐसा वातावरण में जो आपके बड़े बच्चो के लिए डिजाईन किया गया है
Comment[hu]=BASIC tanulása egy gyerekeknek készült környezetben
Comment[is]=Lærðu BASIC í umhverfi fyrir ung börn
Comment[id]=Belajar bahasa pemrograman BASIC untuk anak-anak
Comment[it]=Imparare BASIC in un ambiente pensato per i bambini
Comment[ja]=小さな子供向けにデザインされた BASIC 言語学習環境
Comment[ky]=Кичине балдар үчүн иштелип чыккан чөйрөдө BASIC ти үйрөнүү
Comment[ko]=어린이들을 위해 디자인된 BASIC 배우기
Comment[lv]=Mācīties BASIC vidē, kas paredzēta maziem bērniem
Comment[lt]=Išmokite BASIC aplinkoje sukurtoje jauniems vaikams
Comment[ms]=Pelajari BASIC didalam persekitaran yang direka untuk kanak-kanak
Comment[pl]=Nauka programowania w języku BASIC w środowisku zaprojektowanym dla małych dzieci
Comment[oc]=Aprene lo BASIC dins un environament destinat als mainatjons
Comment[nb]=Lær BASIC i et miljø tilpasset barn
Comment[sr]=Научите BASIC у окружењу направљеном за децу
Comment[pt]=Aprender BASIC num ambiente desenhado para crianças
Comment[ro]=Învățați BASIC într-un mediu conceput pentru copiii dumnevoastră
Comment[ru]=Изучение BASIC в среде, разработанной для маленьких детей
Comment[sk]=Naučte sa BASIC v prostredí určenom pre malé deti
Comment[sl]=Naučite se BASIC-a v okolju, zasnovanem za majhne otroke
Comment[tg]=Омӯзиши BASIC дар муҳити тарҳркзишуда барои кӯдакони ҷавон
Comment[ta]=இளஞ்சிறார்களுக்காக வடிவமைக்கப்பட்ட சூழலில் பேசிக் நிரல் மொழியை கற்கவும்
Comment[sv]=Lär dig BASIC i en miljö utformad för yngre barn
Comment[tr]=Küçük çocuklar için tasarlanmış bir ortamda BASIC öğrenin
Comment[uk]=Вивчення Basic в середовищі призначеному для дітей раннього віку
Comment[vi]=Học ngôn ngữ BASIC trong môi trường được thiết kế cho trẻ em
